In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('House_Pricing.csv')

In [ ]:
data

In [ ]:
data.isna().sum()

In [3]:
data=data.drop(columns=['No of Times Visited'])

In [4]:
num_feat=data.select_dtypes(include='number').columns.tolist()

In [5]:
cat_feat=data.select_dtypes(include='object').columns.tolist()

In [6]:
data[num_feat].isna().sum()

ID                                           0
Sale Price                                   4
No of Bedrooms                               0
No of Bathrooms                              4
Flat Area (in Sqft)                          9
Lot Area (in Sqft)                           9
No of Floors                                 0
Overall Grade                                0
Area of the House from Basement (in Sqft)    3
Basement Area (in Sqft)                      0
Age of House (in Years)                      0
Renovated Year                               0
Zipcode                                      1
Latitude                                     1
Longitude                                    1
Living Area after Renovation (in Sqft)       1
Lot Area after Renovation (in Sqft)          0
dtype: int64

In [ ]:
for i in num_feat:
  data[i].fillna(data[i].mean(),inplace=True)

C:\Users\shebi\AppData\Local\Temp\ipykernel_22484\3392191996.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[i].fillna(data[i].mean(),inplace=True)

In [8]:
data[num_feat].isna().sum()

ID                                           0
Sale Price                                   0
No of Bedrooms                               0
No of Bathrooms                              0
Flat Area (in Sqft)                          0
Lot Area (in Sqft)                           0
No of Floors                                 0
Overall Grade                                0
Area of the House from Basement (in Sqft)    0
Basement Area (in Sqft)                      0
Age of House (in Years)                      0
Renovated Year                               0
Zipcode                                      0
Latitude                                     0
Longitude                                    0
Living Area after Renovation (in Sqft)       0
Lot Area after Renovation (in Sqft)          0
dtype: int64

In [10]:
for i in cat_feat:
  data[i].fillna(data[i].mode(),inplace=True)

C:\Users\shebi\AppData\Local\Temp\ipykernel_22484\2343913300.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[i].fillna(data[i].mode(),inplace=True)

In [9]:
data[cat_feat].isna().sum()

Date House was Sold       0
Waterfront View           0
Condition of the House    0
dtype: int64

In [11]:
data['Date House was Sold']=pd.to_datetime(data['Date House was Sold'])

In [ ]:
data

In [12]:
data['sold year']=data['Date House was Sold'].dt.year
data['month_sold'] = data['Date House was Sold'].dt.month
data['day_sold'] = data['Date House was Sold'].dt.day
data['dayofweek_sold'] = data['Date House was Sold'].dt.dayofweek

In [13]:
data=data.drop(columns=['Date House was Sold'])

In [ ]:
data

In [14]:
from sklearn.preprocessing import OneHotEncoder,LabelEncoder

In [15]:
cat_feat=data.select_dtypes(include='object').columns.tolist()
cat_feat

['Waterfront View', 'Condition of the House']

In [16]:
data['Sale Price'].dtype

dtype('float64')

In [17]:
data_enc=pd.get_dummies(data,drop_first=True,dtype='int')

In [18]:
data_enc

,ID,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),...,Lot Area after Renovation (in Sqft),sold year,month_sold,day_sold,dayofweek_sold,Waterfront View_Yes,Condition of the House_Excellent,Condition of the House_Fair,Condition of the House_Good,Condition of the House_Okay
0,7129300520,221900.0,3,1.00,1180.0,5650.0,1.0,7,1180.0,0,...,5650,2017,10,14,5,0,0,1,0,0
1,6414100192,538000.0,3,2.25,2570.0,7242.0,2.0,7,2170.0,400,...,7639,2017,12,14,3,0,0,1,0,0
2,5631500400,180000.0,2,1.00,770.0,10000.0,1.0,6,770.0,0,...,8062,2016,2,15,0,0,0,1,0,0
3,2487200875,604000.0,4,3.00,1960.0,5000.0,1.0,7,1050.0,910,...,5000,2017,12,14,3,0,1,0,0,0
4,1954400510,510000.0,3,2.00,1680.0,8080.0,1.0,8,1680.0,0,...,7503,2016,2,15,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,360000.0,3,2.50,1530.0,1131.0,3.0,8,1530.0,0,...,1509,2017,5,14,6,0,0,1,0,0
21609,6600060120,400000.0,4,2.50,2310.0,5813.0,2.0,8,2310.0,0,...,7200,2016,2,15,0,0,0,1,0,0
21610,1523300141,402101.0,2,0.75,1020.0,1350.0,2.0,7,1020.0,0,...,2007,2017,6,14,2,0,0,1,0,0
21611,291310100,400000.0,3,2.50,1600.0,2388.0,2.0,8,1600.0,0,...,1287,2016,1,15,4,0,0,1,0,0
21612,1523300157,325000.0,2,0.75,1020.0,1076.0,2.0,7,1020.0,0,...,1357,2017,10,14,5,0,0,1,0,0

In [20]:
num_feat=X.select_dtypes(include='number').columns.tolist()
num_feat

['No of Bedrooms',
 'No of Bathrooms',
 'Flat Area (in Sqft)',
 'Lot Area (in Sqft)',
 'No of Floors',
 'Overall Grade',
 'Area of the House from Basement (in Sqft)',
 'Basement Area (in Sqft)',
 'Age of House (in Years)',
 'Renovated Year',
 'Zipcode',
 'Latitude',
 'Longitude',
 'Living Area after Renovation (in Sqft)',
 'Lot Area after Renovation (in Sqft)',
 'sold year',
 'month_sold',
 'day_sold',
 'dayofweek_sold',
 'Waterfront View_Yes',
 'Condition of the House_Excellent',
 'Condition of the House_Fair',
 'Condition of the House_Good',
 'Condition of the House_Okay']

In [19]:
from sklearn.model_selection import train_test_split

X=data_enc.drop(columns=['Sale Price','ID'])
y=data_enc['Sale Price']

In [21]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)

In [22]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X_train[num_feat]=scaler.fit_transform(X_train[num_feat])
X_test[num_feat]=scaler.transform(X_test[num_feat])

In [ ]:
y_train.shape
y_test.isna().sum()

In [27]:
y_train = y_train.reshape(-1,1)
y_test  = y_test.reshape(-1,1)

In [ ]:
y_train

In [28]:
y_train = scaler.fit_transform(y_train)
y_test  = scaler.transform(y_test)

In [24]:
import numpy as np
X_train=np.array(X_train)
X_test=np.array(X_test)
y_train=np.array(y_train)
y_test=np.array(y_test)

In [ ]:
X_test

In [29]:
import torch

X_train =torch.tensor(X_train,dtype=torch.float32)
X_test =torch.tensor(X_test,dtype=torch.float32)
y_train =torch.tensor(y_train,dtype=torch.float32).view(-1,1)
y_test =torch.tensor(y_test,dtype=torch.float32).view(-1,1)

In [30]:
y_train.shape

torch.Size([16209, 1])

In [31]:
import torch.nn as nn

class HousePriceNN(nn.Module):
  def __init__(self,input_dim):
    super(HousePriceNN,self).__init__()
    self.fc1=nn.Linear(input_dim,128)
    self.fc2=nn.Linear(128,64)
    self.fc3=nn.Linear(64,32)
    self.fc4=nn.Linear(32,1)
    self.relu=nn.ReLU()
    self.dropout=nn.Dropout(0.3)
  def forward(self,x):
    x=self.relu(self.fc1(x))
    x=self.dropout(x)
    x=self.relu(self.fc2(x))
    x=self.dropout(x)
    x=self.relu(self.fc3(x))
    x=self.fc4(x)
    return x

In [33]:
model=HousePriceNN(X_train.shape[1])
criterion=nn.MSELoss()
optimizer=torch.optim.Adam(model.parameters(),lr=0.0001)

In [36]:
epochs=100
for epoch in range(epochs):
  model.train()
  optimizer.zero_grad()
  outputs=model(X_train)
  loss=criterion(outputs,y_train)
  loss.backward()
  optimizer.step()
  print(f"Epoch [{epoch+1}/{epochs}], Loss: {loss.item():.4f}")

Epoch [1/100], Loss: 0.8350
Epoch [2/100], Loss: 0.8332
Epoch [3/100], Loss: 0.8273
Epoch [4/100], Loss: 0.8249
Epoch [5/100], Loss: 0.8193
Epoch [6/100], Loss: 0.8167
Epoch [7/100], Loss: 0.8123
Epoch [8/100], Loss: 0.8092
Epoch [9/100], Loss: 0.8047
Epoch [10/100], Loss: 0.8065
Epoch [11/100], Loss: 0.7970
Epoch [12/100], Loss: 0.7912
Epoch [13/100], Loss: 0.7901
Epoch [14/100], Loss: 0.7850
Epoch [15/100], Loss: 0.7836
Epoch [16/100], Loss: 0.7789
Epoch [17/100], Loss: 0.7731
Epoch [18/100], Loss: 0.7735
Epoch [19/100], Loss: 0.7662
Epoch [20/100], Loss: 0.7660
Epoch [21/100], Loss: 0.7576
Epoch [22/100], Loss: 0.7550
Epoch [23/100], Loss: 0.7534
Epoch [24/100], Loss: 0.7440
Epoch [25/100], Loss: 0.7406
Epoch [26/100], Loss: 0.7370
Epoch [27/100], Loss: 0.7359
Epoch [28/100], Loss: 0.7266
Epoch [29/100], Loss: 0.7161
Epoch [30/100], Loss: 0.7118
Epoch [31/100], Loss: 0.7077
Epoch [32/100], Loss: 0.7085
Epoch [33/100], Loss: 0.7015
Epoch [34/100], Loss: 0.6976
Epoch [35/100], Loss: 0.6919
Epoch [36/100], Loss: 0.6926
Epoch [37/100], Loss: 0.6847
Epoch [38/100], Loss: 0.6759
Epoch [39/100], Loss: 0.6728
Epoch [40/100], Loss: 0.6653
Epoch [41/100], Loss: 0.6682
Epoch [42/100], Loss: 0.6591
Epoch [43/100], Loss: 0.6504
Epoch [44/100], Loss: 0.6476
Epoch [45/100], Loss: 0.6418
Epoch [46/100], Loss: 0.6361
Epoch [47/100], Loss: 0.6367
Epoch [48/100], Loss: 0.6260
Epoch [49/100], Loss: 0.6252
Epoch [50/100], Loss: 0.6185
Epoch [51/100], Loss: 0.6102
Epoch [52/100], Loss: 0.6041
Epoch [53/100], Loss: 0.6066
Epoch [54/100], Loss: 0.5945
Epoch [55/100], Loss: 0.5902
Epoch [56/100], Loss: 0.5924
Epoch [57/100], Loss: 0.5850
Epoch [58/100], Loss: 0.5761
Epoch [59/100], Loss: 0.5681
Epoch [60/100], Loss: 0.5690
Epoch [61/100], Loss: 0.5646
Epoch [62/100], Loss: 0.5602
Epoch [63/100], Loss: 0.5606
Epoch [64/100], Loss: 0.5568
Epoch [65/100], Loss: 0.5475
Epoch [66/100], Loss: 0.5426
Epoch [67/100], Loss: 0.5402
Epoch [68/100], Loss: 0.5335
Epoch [69/100], Loss: 0.5309
Epoch [70/100], Loss: 0.5236
Epoch [71/100], Loss: 0.5246
Epoch [72/100], Loss: 0.5144
Epoch [73/100], Loss: 0.5074
Epoch [74/100], Loss: 0.5108
Epoch [75/100], Loss: 0.5067
Epoch [76/100], Loss: 0.5059
Epoch [77/100], Loss: 0.4898
Epoch [78/100], Loss: 0.4903
Epoch [79/100], Loss: 0.4863
Epoch [80/100], Loss: 0.4771
Epoch [81/100], Loss: 0.4790
Epoch [82/100], Loss: 0.4786
Epoch [83/100], Loss: 0.4719
Epoch [84/100], Loss: 0.4759
Epoch [85/100], Loss: 0.4692
Epoch [86/100], Loss: 0.4608
Epoch [87/100], Loss: 0.4659
Epoch [88/100], Loss: 0.4589
Epoch [89/100], Loss: 0.4624
Epoch [90/100], Loss: 0.4502
Epoch [91/100], Loss: 0.4508
Epoch [92/100], Loss: 0.4465
Epoch [93/100], Loss: 0.4450
Epoch [94/100], Loss: 0.4453
Epoch [95/100], Loss: 0.4428
Epoch [96/100], Loss: 0.4430
Epoch [97/100], Loss: 0.4416
Epoch [98/100], Loss: 0.4393
Epoch [99/100], Loss: 0.4344
Epoch [100/100], Loss: 0.4333

In [39]:
model.eval()
with torch.no_grad():
    preds=model(X_test)
    mse=criterion(preds,y_test)
    print(f"MSE:{mse}")

MSE:0.42914026975631714

In [40]:
torch.save(model.state_dict(),'model_weights.pth')

In [41]:
model.load_state_dict(torch.load('model_weights.pth',weights_only=True))
model.eval()

HousePriceNN(
  (fc1): Linear(in_features=24, out_features=128, bias=True)
  (fc2): Linear(in_features=128, out_features=64, bias=True)
  (fc3): Linear(in_features=64, out_features=32, bias=True)
  (fc4): Linear(in_features=32, out_features=1, bias=True)
  (relu): ReLU()
  (dropout): Dropout(p=0.3, inplace=False)
)